<strong>Ola, {{ student }}</strong>
<p>Obrigado por se matricular, Seguem abaixo as informaçoes da matricula:</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor Total:  </strong> R$ {{ price }} <br />
  <strong>Inicio: </strong> {{ start_date }} <br />
  <strong>Fim: </strong> {{ end_date }} <br />

  <small>
    Qualquer duvida sobre a matricula, favor entrar em contato.
  </small>
</p>
